body,
html {
  padding: 0;
  margin: 0;
}
@mixin button {
  padding: 5px;
  border-radius: 10px;
  background-color: #546e7a;
  border-color: #8fa3ad;
}
.todo-list {
  font-family: monospace;
  width: 100vw;
  height: 100vh;
  background: #2196f3;
  display: flow-root;
  padding: 10% 20%;

  h2 {
    font-size: 30px;
  }

  ul {
    list-style-type: decimal;

    li {
      font-size: 18px;
    }
  }

  .list-input {
    border-radius: 5px;
    height: 20px;
    background: #f1f1f1;
    font-size: 16px;
    font-family: monospace;
  }

  .todo-btn {
    @include button();
  }

  .voice-btn {
    @include button();
    font-size: 15px;
  }
}

